.root {
    -fx-background-color: "green";
}

.label {
    -fx-font-family: "Lucida Console";
    -fx-font-size: 20;
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#title {
    -fx-font-family: "Chilanka";
    -fx-text-fill: "crimson";
}

#text {
    -fx-text-fill: "crimson";
}